section.home-partners {
  padding: 20px !important;
}
main.main {
  padding-bottom: 0 !important;
  justify-content: center !important;
  /* display: flex !important; */
}
section.our-client {
  margin-bottom: 40px !important;
}
.owl-carousel .owl-stage {
  display: flex !important;
  align-items: center !important;
}

.row.partners {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
section.about-leaders{
  padding-top: 10px!important;
}
.contact-form{
  margin-top: 40px;
}